*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboard-container {
    background-color: #333438;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.dashboard-main {
    background-color: #2c2e31;
    width: 84%;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
}
.dashboard-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-profile img{
    width: 59px;
    /* height: 50px; */
    padding: 4px;
    border-radius: 50%;
    opacity: 0.8;
    border: 2px solid #ffffff99;
    margin-right: 10px;
    background: #49484834;
    filter: brightness(0) invert(1);
}
.dashboard-starting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-starting p {
    color: white;
    opacity: 0.3;
}
.dashboard-starting #test-no {
    font-size: 35px;
    color: white;
    opacity: 0.8;
}
.dashboard-completed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-completed p {
    color: white;
    opacity: 0.3;
}
.dashboard-completed #test-com {
    font-size: 35px;
    color: white;
    opacity: 0.8;
}
.dashboard-total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard-total p {
    color: white;
    opacity: 0.3;
}
.dashboard-total #time-total {
    font-size: 35px;
    color: white;
    opacity: 0.8;
}
#profile-joined {
    color: white;
    opacity: 0.3;
}
#profile-username {
    font-size: 27px;
    color: white;
    opacity: 0.8;
}
.dashboard-history {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 84%;
    height: 6vh;
    background-color: #2c2e31;
    /* font-size: 26px; */
    color: white;
    opacity: 0.8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
}