*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.control-main {
    /* background-color: #fff; */
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.control-container {
    width: 70%;
    height: 65%;
    background-color: #2c2e31;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.control-numPunc {
    height: 100%;
    width: 30%;
    /* background-color: #878585; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.control-numPunc img{
    width: 100px;
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.control-numPunc img:hover{
    width: 100px;
    opacity: 0.8;
}
.control-norCapQuo{
    height: 100%;
    width: 30%;
    /* background-color: #878585; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.control-norCapQuo img{
    width: 100px;
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.control-norCapQuo img:hover{
    width: 100px;
    opacity: 0.8;
}
.control-timer {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.control-timer img{
    width: 100px;
    opacity: 0.3;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.control-timer img:hover{
    width: 100px;
    opacity: 0.8;
}
.control-timer p{
    color: rgb(255, 255, 255);
    opacity: 0.3;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.control-timer p:hover{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 12px;
}
.extra-space {
    width: 5px;
    height: 45%;
    background-color: #ffffff16;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}